/* Reset y básicos */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body, html {
    height: 100%;
}

/* Contenedor principal */
.container {
    display: flex;
    height: 100vh;
}

/* Parte izquierda: Formulario */
.left {
    flex: 1;
    padding: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo img {
    margin-bottom: 30px;
}

.left h2 {
    font-weight: 400;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    padding: 12px;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    outline: none;
}

.forgot {
    font-size: 12px;
    color: #555;
    text-decoration: none;
    margin-bottom: 10px;
}

.btn {
    padding: 12px 25px; /* padding horizontal y vertical */
    font-size: 14px;
    cursor: pointer;
    border: none;
    transition: 0.3s;
    width: 400px; /* Ajusta al contenido */
    display: inline-block; /* Asegura que el padding funcione bien */
    text-align: center;
}
.login-btn {
    background-color: #000;
    color: #fff;
}

.login-btn:hover {
    background-color: #333;
}

.register-btn {
    background-color: transparent;
    color: #000;
    border: 1px solid #000;
}

.register-btn:hover {
    background-color: #000;
    color: #fff;
}

/* Social login */
.social-login {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social-login p {
    font-size: 12px;
    color: #555;
}

.social {
    border: 1px solid #ccc;
    background: white;
    color: #000;
}

.social.google::before {
    content: "G ";
}

.social.apple::before {
    content: " ";
}

/* Política de privacidad */
.privacy {
    font-size: 10px;
    color: #888;
    margin-top: 15px;
}

.privacy a {
    text-decoration: underline;
    color: #888;
}

/* Parte derecha: Imagen */
.right {
    flex: 20;
    overflow: hidden;
}

.right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Responsive */
@media(max-width: 900px) {
    .container {
        flex-direction: column;
    }
    .right {
        height: 40vh;
    }
}
